/****************************************
  GENERAL
****************************************/

html, body {
  height: 100%;
}



/****************************************
  NAVIGATION
****************************************/

.uk-navbar {
  background-color: transparent;
}

nav li, .uk-nav-offcanvas li {
  text-transform: uppercase;
}



/****************************************
  ABOUT SECTION
****************************************/

/* Overrides thumbnail styling. */
.uk-thumbnail {
  border-style: none;
  padding: 0;
}



/****************************************
  CALL TO ACTION SECTION
****************************************/

.cta {
  height: 60vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-image: url(../images/cta.jpg);
  background-position: center center;
}



/****************************************
  REVIEWS SECTION
****************************************/

.reviews-bg-img {
  height: 75vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-image: url(../images/review.jpg);
  background-position: center center;
}

.reviews-width {
  width: 80%;
  margin: auto;
}



/****************************************
  MEDIA QUERIES
****************************************/

@media (min-width: 768px) {
  .view-height {
    height: 100vh;
  }
}
