/****************************************
  GENERAL
****************************************/

html, body {
  height: 100%;
}



/****************************************
  NAVIGATION
****************************************/

.uk-navbar {
  background-color: transparent;
  z-index: 100;
}

nav li, .uk-nav-offcanvas li {
  text-transform: uppercase;
}

.uk-navbar-attached {
  background-color: #000;
}

section ul.uk-dotnav {
  z-index: 60;
}



/****************************************
  LANDING SECTION
****************************************/

#landing {
  position: relative;
  bottom: 40px;
  z-index: 1;
}

#landing-headline {

}



/****************************************
  ABOUT SECTION
****************************************/





/****************************************
  SERVICES SECTION
****************************************/

.services-section {
  background-color: #ebebff;
  padding-top: 50px;
  padding-bottom: 50px;
}



/****************************************
  EVENT SECTION
****************************************/

/* Overrides thumbnail styling. */
.uk-thumbnail {
  border-style: none;
  padding: 0;
}



/****************************************
  CALL TO ACTION SECTION
****************************************/

.cta {
  height: 60vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-image: url(../images/cta.jpg);
  background-position: center center;
}



/****************************************
  REVIEWS SECTION
****************************************/

.reviews-bg-img {
  height: 75vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-image: url(../images/review.jpg);
  background-position: center center;
}

.reviews-width {
  width: 80%;
  margin: auto;
}

div.reviews-bg-img div.reviews-width div.reviews-width {
  height: 75%;
}



/****************************************
  SLIDENAV OVERRIDES
****************************************/

.uk-slidenav-position .uk-slidenav-previous {
  left: -1em;
}

.uk-slidenav-position .uk-slidenav-next {
  right: -1em;
}



/****************************************
  MEDIA QUERIES
****************************************/

@media (min-width: 768px) {
  .view-height {
    height: 100vh;
  }
}

/* Resizes divs of Event section at small resolution */
@media (max-width: 479px) {
  #event .uk-grid div {
    width: 95%;
    margin: 10px auto;
  }
}
